{{ define "Description" }}

{{end}}


{{ define "main" }}


<body>


    <script src="js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
    diameter: 56,
    backgroundColor: 'rgb(23, 72, 152)',
    textColor: '#fff'
      })
    </script>



  <div class="container">
    

    <br/><br/>

    <div class="row">
    
      
      
      <div class="col-md-7 col-sm-12 mymarginright">

        <h1 class="tbh3">Tienda de artículos para fiestas: Una lista completa de artículos para fiestas, decoraciones y más</h1>
        <br/>
        <p class="myptag" align="justify">
        
        
          Ya sea que estés planeando una fiesta de cumpleaños o simplemente buscando algunas ideas divertidas, nuestra lista completa de artículos para fiestas tiene algo para todos.  
			
      </p>
      <p class="myptag" align="justify">
        La Victoria Fiestas ofrece todo lo que necesitas para organizar una fiesta con éxito, ya sea una fiesta de cumpleaños, una recepción de boda u otro evento. Tenemos todo tipo de decoraciones, juegos, recuerdos, comida y mucho más.
        </p>
        
        
        <h2 class="tbh4">Adornos para pasteles de cumpleaños</h2>
        <p class="myptag" align="justify">
        <br>Nuestra selección de adornos para pasteles incluye de todo, desde animales hasta figuras deportivas, así que seguro que hay uno que se adapta perfectamente a tu tema.
        </p>
        <h2 class="tbh4">Bastones de caramelo</h2>
        <p class="myptag" align="justify">
          También tenemos un montón de decoraciones de caramelo, como maíz de caramelo, piruletas y más. Encontrarás todo lo que necesitas para que tu próximo evento sea muy especial.
        </p>
        <h2 class="tbh4">Velas</h2>
        <p class="myptag" align="justify">
          <br>Nuestra tienda ofrece una amplia variedad de artículos para fiestas, como velas, caramelos, palos de piruleta, globos, confeti, serpentinas, vajilla, servilletas, platos, vasos y mucho más. Incluso ofrecemos una selección de artículos para fiestas temáticas, para que pueda elegir entre una gama de opciones para que coincida con su tema.</p>
        <h2 class="tbh4">Cajas de cartón</h2>
        <p class="myptag" align="justify">
          Si necesitas cajas de cartón por cualquier motivo, ¡las tenemos! Encontrarás un gran surtido de tamaños y estilos en nuestra tienda.</p>
        <h2 class="tbh4">Desechables</h2>
        <p class="myptag" align="justify">
          También tenemos una gran variedad de otros productos como platos de papel, vasos, servilletas, manteles, manteles individuales, cubiertos, cristalería y mucho más. Nuestra selección incluye todo lo que pueda necesitar para una fiesta, ya sea un picnic al aire libre, una barbacoa en el patio trasero o una reunión en el interior.</p>          <br/><br/>
         Si quieres saber más puedes encontrarnos en: 
          <br><br>
          </p>
          <p align="center">
          <strong><a href="#">Comercializadora <i>"LA VICTORIA"</i></a></strong> <br/><br/>
          </p>
          <p class="myptag" align="justify">
            Vendemos al menudeo y mayoreo.  
          </p>

      
      </div>
			
      <div class="col-md-5 col-sm-12 mymarginleft">
        <h3 class="tbh3">Departamento de Fiestas</h3>
			
			
			<h4 class="text-nowrap tbh4"><br/>LA VICTORIA - FIESTAS<br/></h4>
			      <div class="polaroid">
                  
                      <img src="Images/orizaba-fiestas.jpg" width="100%" alt="Tatsat Banerjee - An old image" />
                      <p style="left: 0px; bottom: 60px; width: 92%">¡Visitanos!<br/>Estamos en poniente 6, numero 33, colonia centro, Orizaba, Veracruz.</p>
                  </div>
			
			<h4 class="tbh4"><br/><br/>Lo que nuestros clientes dicen.<br/></h4>
			
			<blockquote class="blockquote">
				<p>&#8220;Siempre encuentro lo que busco. Muy buena opción y además super los precios.<br/> Gracias&#8221;
				<cite class="tbcite">
				Carolina Ramos</cite></p>
				<p>&#8220;una tienda con un gran surtido para todas las necesidades.<br/>
          exito en todos los nuevos proyectos que tengan en puerta<br/><br/>
          5 estrellas&#8221;
				<cite class="tbcite">
          Manuel Alonso Aserllo</cite></p>
				<p>&#8220;Gran surtido de artículos a precios accesibles y excelente servicio. &#8221;
				<cite class="tbcite">
				Mario Abraham Silva Guevara</cite></p>
				<p>&#8220;Precios económicos y muy buen surtido de papelería y para tus fiestas.&#8221;
				<cite class="tbcite">
        Juan Pablo Hernandez</cite></p>
				<p>&#8220;Excelente lugar con bonitos juguetes lo recomiendo y a buen precio&#8221;
				<cite class="tbcite">
          Cesar Garcia</cite></p>
				<p>&nbsp;</p>

				
			</blockquote>
			
<h4 class="tbh4">Te recomendamos visitar</h4>

			<ul>
			<br>
				<li><a class="tbli" href="#" >Comercializadora "LA VICTORIA"</a></li>
				<li><a class="tbli" href="#">Comercializadora "LA VICTORIA" - Juguetería</a></li>
				<li><a class="tbli" href="#">Comercializadora "LA VICTORIA" - Temporadas</a></li>
				<li><a class="tbli" href="#">Comercializadora "LA VICTORIA" - Papelería</a></li>
			</ul>




      </div>
     





    </div>
    
    
    </body>
    
    
    
{{ end }}
